.user-form-container {
  max-width: 600px;
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.user-form__heading {
  margin-bottom: 2em;
}

.user-form__heading h1 {
  margin-bottom: 0.75em;
  line-height: 1.25em;
}

.form__desktop-row {
  margin-left: calc(var(--form-row-spacing) * -1);
  display: flex;
  flex-wrap: wrap;
}

.form__desktop-row .form-field {
  flex: 1 1 40%;
}

.form__desktop-row .form-field {
  margin-left: var(--form-row-spacing);
}

.form--http-error {
  text-align: center;
  color: var(--red);
}

@media screen and (min-width: 767px) {
  .user-form-container .form-button {
    width: 50%;
  }
}
